<!-- Nagłówek -->
<nav>
  <div class="nav-wrapper teal darken-3">
    <span class="brand-logo center">Najlepsze cytaty Smyka!</span>
  </div>
</nav>
<!-- koniec nagłówka -->

<div class="container q-container">
  <!--Dodawanie cytatu-->
  <button class="btn-floating teal add-button" (click)="changeShowAddForm()">
    <!-- (click)="changeAddPanelVisibility()" -->
    <i class="material-icons">add</i>
  </button>

  <!-- <div #addPanel class="row" [style.visibility]="addPanelVisibilityStatus"> -->
  <div #addPanel class="row edit-row" [class.drawer]="showAddForm">
    <div class="input-field col s4">
      <input type="text" placeholder="Autor" [(ngModel)]="quotation.author" />
    </div>
    <div class="input-field col s6">
      <input type="text" placeholder="Cytat" [(ngModel)]="quotation.sentence" />
    </div>
    <div class="input-field col s2">
      <button class="btn small" (click)="addQuotation()">Dodaj</button>
    </div>
  </div>
  <!-- Koniec dodawanie cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <ng-container *ngFor="let item of quotations; let odd = odd">
            <div
              #rowItem
              class="card teal hoverable"
              [ngClass]="odd ? 'accent-4' : 'accent-5'"
            >
              <div class="card-content white-text">
                <span class="card-title">
                  {{ item.sentence }}
                </span>
                {{ item.author }}
              </div>
              <div class="card-action right-align">
                <span class="badge grey darken-2 left white-text">{{
                  item.votes
                }}</span>
                <button class="btn blue mr-5" (click)="addVote(item, 1)">
                  <i class="material-icons">exposure_plus_1</i>
                </button>
                <button class="btn brown" (click)="addVote(item, -1)">
                  <i class="material-icons">exposure_neg_1</i>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <div class="col s12">
        <h5>Najlepsze</h5>
        <div class="collection">
          <ng-container *ngFor="let item of quotations">
            <p class="collection-item" *ngIf="item.votes > 0">
              <span class="blue lighten-4 badge">{{ item.votes }}</span>
              {{ item.sentence }}<br />
              <span class="blue-text">{{ item.author }}</span>
            </p>
          </ng-container>
        </div>
      </div>

      <div class="col s12">
        <h5>Najgorsze</h5>
        <div class="collection">
          <ng-container *ngFor="let item of quotations">
            <p class="collection-item" *ngIf="item.votes < 0" >
              <span class="blue lighten-4 badge"> {{item.votes}} </span>
              {{item.sentence}} <br />
              <span class="blue-text"> {{item.author}} </span>
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Sekcja rankigów -->
  </div>
</div>
