<app-navbar title="Cytaty Smyka!"></app-navbar>
<div class="container q-container">
  <!--Dodawanie cytatu-->

  <app-button
    (buttonEvent)="addForm.changeShowAddForm()"
    buttonStyle="btn-floating teal add-button"
  >
    <i class="material-icons">add</i>
  </app-button>

  <app-add-form #addForm (newQuotation)="onNewQuotation($event)"></app-add-form>
  <!-- Koniec dodawanie cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <div class="row">
        <div class="col s12">

          <ng-container *ngFor="let item of quotations; let odd = odd">
            <app-list-item [item]="item" [odd]="odd"
             (plusEvent)="addVote(item, 1)"
             (minusEvent)="addVote($event, -1)"
            >
            </app-list-item  >

          </ng-container>
        </div>
      </div>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotations]="bestQuotes()" title="Najlepsze"></app-ranking>
      <app-ranking [quotations]="worstQuotes()" title="Najgorsze"></app-ranking>
    </div>
  </div>
</div>
