<app-navbar title="Cytaty Smyka!"></app-navbar>
<div class="container q-container">
  <!--Dodawanie cytatu-->

  <app-button
    (buttonEvent)="addForm.changeShowAddForm()"
    buttonStyle="btn-floating teal add-button"
  >
    <i class="material-icons">add</i>
  </app-button>

  <app-add-form #addForm (newQuotation)="onNewQuotation($event)"></app-add-form>
  <!-- Koniec dodawanie cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <ng-container *ngFor="let item of quotations; let odd = odd">
            <div
              #rowItem
              class="card teal hoverable"
              [ngClass]="odd ? 'accent-4' : 'accent-5'"
            >
              <div class="card-content white-text">
                <span class="card-title">
                  {{ item.sentence }}
                </span>
                {{ item.author }}
              </div>
              <div class="card-action right-align">
                <span class="badge grey darken-2 left white-text">{{
                  item.votes
                }}</span>

                <app-button buttonStyle="btn blue mr-5"
                  (buttonEvent)="addVote(item, 1)">
                  <i class="material-icons">exposure_plus_1</i>
                </app-button>
                <app-button buttonStyle="btn brown"
                  (buttonEvent)="addVote(item, -1)">
                  <i class="material-icons">exposure_neg_1</i>
                </app-button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotations]="bestQuotes()" title="Najlepsze"></app-ranking>
      <app-ranking [quotations]="worstQuotes()" title="Najgorsze"></app-ranking>
    </div>
  </div>
</div>
